[2019-12-09 22:16] jrhemstad opened #1 "Clean up README"
Remove RAPIDS boilerplate from README and populate with info for cuCollections.

[2019-12-09 22:16] jrhemstad opened #2 "Migrate contents of internal GitLab repo"
The contents of the internal GitLab repo should be moved to this repo.

[2019-12-13 18:21] #2 closed, assigned to nobody

[2019-12-13 18:21] #1 closed, assigned to nobody

[2019-12-13 18:22] jrhemstad opened #4 "[FEA] Remove dependency on cuDF"
**Is your feature request related to a problem? Please describe.**

The map structures currently have extraneous dependencies on libcudf. These should be removed.

**Describe the solution you'd like**

Remove all includes of libcudf headers and remove libcudf code from the repo.

[2019-12-13 18:24] jrhemstad opened #5 "[FEA] Refactor map/multimap classes to use libcu++ atomics"
**Is your feature request related to a problem? Please describe.**

The current map/multimap classes use legacy CUDA atomics.

**Describe the solution you'd like**
They should be updated to use `cuda::std::atomics`.

[2019-12-13 18:26] jrhemstad opened #6 "[FEA] Add freestanding libcu++ repo as submodule"
**Is your feature request related to a problem? Please describe.**

In order to [refactor the map classes to use libcu++](https://github.com/rapidsai/cuCollectionsInternal/issues/5), we need the libcu++ code to be available. Until the official libcu++ is available on github, we should use @ogiroux's freestanding repo: https://github.com/ogiroux/freestanding

**Describe the solution you'd like**

A

[2019-12-13 19:06] #6 closed, assigned to nobody

[2019-12-19 21:11] jrhemstad opened #7 "[FEA] Switch to using production libcu++"
**Is your feature request related to a problem? Please describe.**
Currently we use the libcu++ from @ogiroux's repo.

Once the production libcu++ is available on GitHub, we should switch to that.

[2020-02-11 20:38] jrhemstad opened #14 "[FEA] Create repository for hash map benchmarking"
**Is your feature request related to a problem? Please describe.**

Any hash map benchmarking should be in a single place that is easy to find.

**Describe the solution you'd like**

Create a new repository for hash map benchmarking.

**Additional context**

What should the new repo be called? I assume we don't want to limit it to just hash map benchmarking.

Maybe something like `cuCollectionsBen

[2020-02-24 01:05] #4 closed, assigned to nobody

[2020-07-07 17:12] jrhemstad opened #20 "[FEA] Add a `find_if_exists` function to the static map implementation"
**Is your feature request related to a problem? Please describe.**

Given a set of probe keys, I would like to gather all of the matching `<key,value>` pairs from a map.

@nsakharnykh @Nicolas-Iskos @allisonvacanti and myself spent some time discussing how to handle the fact that the size of the output cannot be known a priori in the general case. We decided we would allow a user to specify an out

[2020-07-08 18:57] jrhemstad opened #21 "[FEA] static_map::rehash"
**Is your feature request related to a problem? Please describe.**

Oftentimes when you insert a set of `N` keys into a map, you don't know ahead of time the number of distinct keys `m`. This can lead to inefficient memory usage if `N >> m`. For example, if you bulk insert 1M keys, then for a 50% load factor we allocate 2M slots. If there are only 2 unique values, then only 2 of 2M slots in the ma

[2020-07-08 19:13] jrhemstad opened #22 "[FEA] Batched reduce_by_key benchmark for dynamic hash map"
**Is your feature request related to a problem? Please describe.**

Similar to the [reduce by key benchmark for the static map](https://github.com/rapidsai/cuCollectionsInternal/blob/dev/benchmarks/reduce_by_key/reduce_by_key.cu), it would be nice to have a similar benchmark for the dynamic map to showcase a problem that they dynamic map can solve.

The idea would be to emulate a "streaming" workl

[2020-07-08 19:23] jrhemstad opened #23 "[FEA] `insert_reduce_by_key`"
**Is your feature request related to a problem? Please describe.**

A common use case for hash maps is to perform a reduce-by-key-like operation that doesn't require sorting the key/value pairs.

Similar to the bulk `insert` functions, our static/dynamic maps could provide a bulk `insert_reduce_by_key` operation that looks something like:

[code]

One issue with this operation is that since the Bi

[2020-07-20 21:21] #5 closed, assigned to brycelelbach

[2020-07-24 14:47] jrhemstad opened #26 "[FEA] Use heterogenous lookup instead of per-function key equal/hash"
**Is your feature request related to a problem? Please describe.**

Sometimes we want to insert/find key types that may be different from the `static_map::key_type`. To support that today, we allow specifying a custom and independent `key_equal` and `hash` operations for `insert` and `find`. This is potentially quite problematic as it allows passing in different and conflicting notions of hashing

[2020-07-31 15:44] Nicolas-Iskos opened #27 "[FEA] static_map::erase"
It would be useful to have an `static_map::erase` function to form a more complete API for `static_map`. Perhaps the simplest way to achieve this would be to use a "tombstone" sentinel value to indicate whether or not a slot contains an element that has been deleted. Another option would be to use an array of 1B `atomic<state>` for each slot. The lower 2 bits of this byte could be used to hold sta

[2020-07-31 16:04] Nicolas-Iskos opened #28 "[FEA] Support for non-arithmetic keys"
When inserting a key into an empty slot, `insert` uses `compare_exchange_strong`, which uses a bitwise equality check between `empty_key_sentinel` and the contents of the slot. Consequently, `find` must also use a bitwise equality check between `empty_key_sentinel` and the contents of the slot when this comparison is performed. This check can be performed using `operator==` for arithmetic types, b

[2020-07-31 16:50] Nicolas-Iskos opened #29 "[FEA] dynamic_map device-side API"
Currently, the `dynamic_map` has only a host-side API, which supports `insert`, `find`, `contains`. It would be useful to have an additional, advanced-usage API supporting `__device__` versions of `insert`, `find`, and `contains`.

There are some important considerations in designing this API:
1. The map will not be able to dynamically resize when using the device-side API. This is because control

[2020-08-14 20:37] jrhemstad opened #30 "[FEA] Add options for tuning and configuring parameters of dynamic map"
We should allow a way to configure things like growth factor, max load factor, etc. for the dynamic map.

[2020-09-14 21:27] zjin-lcf opened #38 "[FEA] Add support for 128-bit block murmur hash"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

May you please add the implementation of the murmur hash3 x64 with 128-bit block size ?

Thanks

[2020-09-14 23:10] jrhemstad commented on #38
We've got a long list of features we're working on, so it'll likely be a while before we can get to this. We'd be happy to review a PR with this change.

[2020-09-15 02:20] #38 closed, assigned to nobody

[2020-09-17 19:58] jrhemstad opened #39 "[FEA] Invalidate `get_size()` after user calls `get_device_mutable_view()`"
**Is your feature request related to a problem? Please describe.**

The value of `static_map::get_size()` is only guaranteed to be correct if a user goes through the bulk `static_map::insert` API. I

If instead a user calls `get_device_mutable_view()`, then there it is likely that the user inserted keys into the map, but there is no way for us to know how many keys were inserted. Therefore, the va

[2020-09-18 14:00] jrhemstad opened #40 "[FEA] Use libcudaxx from github instead of relying on CUDA toolkit"
**Is your feature request related to a problem? Please describe.**

libcu++ is now available on GH (https://github.com/NVIDIA/libcudacxx).  We should use that instead of relying on libcu++ headers from the CUDA toolkit.

**Describe the solution you'd like**
Use CPM in the cuco Cmake to pull in libcudacxx.

**Additional context**
This may require some changes to the libcudacxx cmake files to make s

[2020-09-18 19:22] ChuckHastings opened #41 "[BUG] A few simple issues with static_map"
Trying to use coco::static_map in cugraph, I found several little issues:

1. device_view::find returns an iterator.  It would be nice to have a const version that returned a const_iterator so the function can be used in a const context
1. Check the visibility of the methods on device_view_base, some things seem to be protected that should probably be public.  In particular, I need to be able to i

[2020-09-18 20:50] jrhemstad commented on #41
2. is fixed by https://github.com/NVIDIA/cuCollections/pull/42

[2020-09-23 22:24] jrhemstad opened #46 "[BUG] static_map destructor can throw"
**Describe the bug**

The destructor for `static_map` can throw because it uses [`CUCO_CUDA_TRY` ](https://github.com/NVIDIA/cuCollections/blob/035ed1bdabfbe00f662672c16cb0fd5aca9578a2/include/cuco/detail/static_map.inl#L48-L53)

**Expected behavior**
Shouldn't throw.

[2020-09-26 18:16] Nicolas-Iskos opened #47 "[BUG] A few small bugs"
1. In `static_map_test.cu`, in the section "Keys are all found after inserting many keys", there should be a call to  `cudaDeviceSynchronize()` after the `thrust::for_each` is called.

2. In `static_map.cuh`, `dynamic_map` is declared twice as a friend class on lines 104 and 106.

[2020-10-02 15:22] jrhemstad opened #48 "[BUG] static_map should never use `key_equal` to compare against `empty_key_sentinel`"
**Describe the bug**

There are cases where the user-defined `key_equal` function may be used to compare against the `empty_key_sentinel`.  For example, https://github.com/NVIDIA/cuCollections/blob/38c352f93ebd845545ebb93f0f31f3f03d99e50a/include/cuco/detail/static_map.inl#L165

if any of the slots in the CG window are empty, then we would be calling `key_equal(x, empty_key_sentinel)`.

This is pr

[2020-10-03 14:55] #48 closed, assigned to nobody

[2020-10-13 15:18] jrhemstad commented on #7
Closed by https://github.com/NVIDIA/cuCollections/pull/52

[2020-10-13 15:18] #7 closed

[2020-10-13 15:19] jrhemstad commented on #40
Closed by https://github.com/NVIDIA/cuCollections/pull/52

[2020-10-13 15:19] #40 closed, assigned to nobody

[2020-10-13 15:20] jrhemstad commented on #14
Instead of a separate repository, we added a thirdparty benchmark folder: https://github.com/NVIDIA/cuCollections/pull/45

[2020-10-13 15:20] #14 closed, assigned to nobody

[2020-10-13 15:23] jrhemstad opened #54 "[FEA] Add allocator interface to static/dynamic map"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to customize how the memory is allocated for `static_map` and `dynamic_map`.

**Describe the solution you'd like**

Add an allocator interface to the `static/dynamic_map` constructors.

[2020-10-20 22:37] jrhemstad opened #58 "[FEA] Hash map design that supports reduce by key"
**Is your feature request related to a problem? Please describe.**

I would like to be able to implement a hash-based reduce-by-key operation. A `thrust::reduce_by_key` operation requires first doing a `sort_by_key`. This means 2 passes through the input data and `2n` memory overhead. A hash based implementation requires only a single pass and `n/0.7` memory overhead (assuming a 70% load factor).

[2020-10-27 18:03] jrhemstad opened #59 "[FEA] `static_multimap`"
**Is your feature request related to a problem? Please describe.**

`static_map` only allows a single instance of each key.

**Describe the solution you'd like**

I would like an extension of `static_map` that supports duplicate keys.

**Additional context**

See https://arxiv.org/pdf/2009.07914.pdf for a discussion of multimap implementation ideas.

[2020-10-27 18:04] jrhemstad opened #60 "[FEA] `dynamic_multimap`"
**Is your feature request related to a problem? Please describe.**

`dynamic_map` only allows a single instance of each key.

**Describe the solution you'd like**

I would like an extension of `dynamic_map` that supports multiple instances of each key.

**Additional context**

Related: https://github.com/NVIDIA/cuCollections/issues/59

[2020-10-28 21:49] seunghwak opened #61 "[BUG] Add examples for static_map device APIs and dynamic_map APIs"
**Describe the bug**
Links are broken in https://github.com/NVIDIA/cuCollections#static_map ("as well as device APIs for individual operations (example).") and https://github.com/NVIDIA/cuCollections#dynamic_map ("It currently only provides host, bulk APIs (example).").

**Steps/Code to reproduce bug**
Click "example" and you will see 404 This is not the page you are looking for.

**Expected behav

[2020-10-28 22:05] jrhemstad commented on #61
Yeah, those are stubs because the examples don't exist yet :)

[2020-10-28 23:59] jrhemstad commented on #61
I updated the links to reflect that they are TODO.

[2020-11-16 17:54] ChuckHastings opened #64 "[BUG] Make __cuda_memcmp an inline function"
If I include <cuco/static_map.cuh> in multiple .cu files I get multiple definitions of the function __cuda_memcmp in my library.

[2020-11-16 18:12] griwes commented on #64
This was a libcu++ bug fixed in CUDA 11.0 I believe.

[2020-11-16 18:38] ChuckHastings commented on #64
I think the issue is that the function is not defined as an inline function.  If I add the `inline` keyword at the beginning of line 2 of the file `cuda_memcmp.cuh` it works fine.

[2020-11-16 19:00] griwes commented on #64
Oh. Looks like this project has its own copy of that function. Very well, disregard my previous comment ;)

[2020-11-16 22:08] seunghwak opened #65 "[FEA] CUDA stream support"
**Is your feature request related to a problem? Please describe.**
static_map/dynamic_map currently does not take cudaStream_t stream parameter. This often requires additional synchronization and limits speedup we can get when we wish to concurrently run multiple cuCollection operations using multiple CUDA streams.

**Describe the solution you'd like**
Add CUDA stream support

**Additional context

[2020-11-16 22:17] seunghwak opened #66 "[DOC] It is unclear whether find operation supports in-place mode or not"
## Report needed documentation

**Report needed documentation**
https://github.com/NVIDIA/cuCollections/blob/dev/include/cuco/static_map.cuh#L201
This documentation doesn't say whether ```InputIt first``` and ```OutputIt output_begin``` can coincide or not. It seems like this is supported based on the current implementation, but I am not sure the API intends to support this in the future or not.

[2020-11-18 18:58] jrhemstad commented on #64
Closed by https://github.com/NVIDIA/cuCollections/pull/67

[2020-11-18 18:58] #64 closed, assigned to nobody

[2020-12-07 08:11] devavret commented on #58
I don't quite understand. At the end of the insert method, there is a guarantee that a slot will contain the key and a matching value (the value could be from one of the many threads writing to the slot). The race condition is only within the insert method, between the key cas and value cas. Therefore, it should be possible to return the iterator wrapped in an optional, with the optional containin

[2020-12-07 17:17] jrhemstad commented on #58
The problem with returning an iterator in `insert` with the back-to-back CAS algorithm is best understood through example.

Imagine two threads doing a concurrent insert for the same key. Thread 0 inserts `<k, v0>`, and Thread 1 inserts `<k, v1>`. Furthermore, let's say `k` maps to slot `s`.

Let's say T0 wins the key CAS, but the value CAS has not completed yet. So `s`'s state is `<k, EMPTY>`.

A

[2020-12-16 15:24] #54 closed, assigned to nobody

[2021-01-05 17:04] jrhemstad opened #69 "[FEA] Replace thrust/cuco::pair with libcu++ tuple/pair"
**Is your feature request related to a problem? Please describe.**

cuco currently uses a combination of Thrust and a custom pair type.

**Describe the solution you'd like**

We should just use everything from libcu++ for pair/tuple.

[2021-02-03 19:10] nsakharnykh opened #70 "[FEA] Add option to report hash collisions"
**Is your feature request related to a problem? Please describe.**
Hash collisions impact performance of hash map insert and probe. It will be useful to find a way to report the number of collisions for `static_map` and `dynamic_map` to help assess performance of insert or probe when developers are evaluating perf on their dataset. It would also allow developers to tune the hash function or occupa

[2021-02-03 22:05] jrhemstad commented on #70
I understand the desire for this, but it would introduce some awkwardness into the interfaces and the implementation.

What if instead we had a utility or benchmark/test function for computing the number of hash collisions for a given set of keys/hash function? Something like:
[code]

All this would do is keep an array of proxy "slots" and compute `i = h(begin + j)`. If `slots[i] == FILLED`, then

[2021-03-10 16:20] seunghwak opened #71 "[BUG] find hangs with 2^30 inputs"
**Describe the bug**
The code below hangs.

[code]

https://github.com/NVIDIA/cuCollections/blob/2196040f0562a0280292eebef5295d914f615e63/include/cuco/detail/static_map.inl#L92
If num_keys = 2^30, num_keys * tile_size becomes 2^32, and gridDim.x * blockDim.x becomes 2^32 overflowing 4 byte unsigned integer.

The code below can overflow if input size >= 2^30
https://github.com/NVIDIA/cuCollections/

[2021-03-24 18:52] seunghwak opened #72 "[BUG] CUDA Exception: Warp Illegal Address if find is executed on a static_map with capacity 0."
**Describe the bug**
[code]
```find``` fails with the illegal address error if ```map``` has capacity 0 (it succeeds if capacity is set to 1). I think the expected behavior is to set output array elements to -1.

The code actually fails in the line below.

https://github.com/NVIDIA/cuCollections/blob/2196040f0562a0280292eebef5295d914f615e63/include/cuco/detail/static_map.inl#L288

See the debugger

[2021-03-26 14:01] seunghwak opened #73 "[DOC] Size requirement (there should be at least one empty slot) should be clearly articulated."
## Report incorrect documentation

**Location of incorrect documentation**
https://github.com/NVIDIA/cuCollections/blob/2196040f0562a0280292eebef5295d914f615e63/include/cuco/static_map.cuh#L144

**Describe the problems or issues found in the documentation**
If there is one key to insert and the capacity is set to 1 (1/0.7 is 1 if converted to an integral type),

https://github.com/NVIDIA/cuCollect

[2021-03-26 14:12] seunghwak opened #74 "[BUG] Find does not return the empty sentinel value for missing or empty sentinel keys"
**Describe the bug**
https://github.com/NVIDIA/cuCollections/blob/2196040f0562a0280292eebef5295d914f615e63/include/cuco/static_map.cuh#L192

states "Else, copies the empty value sentinel". However, for missing keys, it seems like garbage values are returned.

**Steps/Code to reproduce bug**
https://github.com/NVIDIA/cuCollections/blob/2196040f0562a0280292eebef5295d914f615e63/include/cuco/detail/st

[2021-03-26 14:16] jrhemstad commented on #74
Yeah, this looks like a sane fix to me.

[2021-04-05 17:06] seunghwak opened #75 "[BUG] kernel launches with 0 grid size leading to cudaErrorInvalidConfiguration"
**Describe the bug**
cuco::static_map launches a CUDA kernel even if the grid size is 0.

e.g. the code below gets executed even if ```num_keys == 0```
https://github.com/NVIDIA/cuCollections/blob/2196040f0562a0280292eebef5295d914f615e63/include/cuco/detail/static_map.inl#L95

This sets cudaErrorInvalidConfiguration and can lead to error check failure.

Better just return without launching a kerne

[2021-04-08 15:18] jrhemstad commented on #72
@seunghwak I'm wondering if we should even allow a zero capacity map? Seeing as though it can't grow, a map with zero capacity isn't very useful.

[2021-04-08 15:26] seunghwak commented on #72
In that case, I think the constructor should throw an exception if called with 0 capacity.

And just FYI,

This happened with graph coarsening & multi-GPU execution, if a graph gets coarsened multiple times, it gets much smaller than the original graph and if the graph is stored in multiple GPUs, some GPUs may have 0 vertices leading to creating a 0 sized static_map.

Figuring out what actually ha

[2021-04-08 15:28] jrhemstad commented on #72
Would throwing an exception have been detrimental to your usecase? Do you expect to construct a zero size map in the course of a well-behaved program?

[2021-04-08 15:33] seunghwak commented on #72
It may just require more checking at my side, but if I need to create a 0 sized map, that means all the operations related to static_map is actually unnecessary. Explicitly handling this case requires just little more work but clearly doable.

[2021-04-08 15:48] jrhemstad commented on #72
Thinking more about it, I think a better solution is to just always make the minimum capacity 1. e.g., initialize the capacity with `std::min(1, capacity)`.

[2021-04-08 15:51] seunghwak commented on #72
Yeah... I guess the trade-off is really between

paying the cost of memory allocation vs avoiding ```if (this->get_capacity() == 0) { return this->end(); }```

I think the former can be cheaper in many cases. I can update the PR.

[2021-04-08 16:17] jrhemstad commented on #72
I hadn't considered the cost of memory allocation. That said, I think we should optimize for the common case where people aren't using zero sized maps.

[2021-04-08 16:21] jrhemstad commented on #72
Come to think of it, a `capacity` of 1 isn't sufficient for the kernels that use a CG size >1. The minimum capacity needs to be a function of the CG size used.

In your PR you can set the minimum to 1, but I'll need to do a follow up PR to make it a little more complicated and depend on the CG size.

[2021-04-08 18:12] #71 closed, assigned to nobody

[2021-04-08 18:12] #72 closed, assigned to nobody

[2021-04-08 18:12] #73 closed, assigned to nobody

[2021-04-08 18:12] #74 closed, assigned to nobody

[2021-04-08 18:12] #75 closed, assigned to nobody

[2021-06-02 17:21] seunghwak opened #84 "[FEA] Add an insert function that takes separate key/value iterators."
https://github.com/NVIDIA/cuCollections/blob/8fce363b40254f4170d97eaedcb12fc8e84e1b74/include/cuco/static_map.cuh#L200

currently takes an iterator of zipped (key, value) pairs. This requires additional work at the caller side.

something like
[code]
will be more convenient.

[2021-06-02 20:09] jrhemstad commented on #84
Hm, so I went ahead and did this and it ends up causing an ambiguous overload situation because of the defaulted arguments, e.g., https://godbolt.org/z/6ThvPohej

I'll have to ponder some more how to make this work.

[2021-06-02 20:13] seunghwak commented on #84
I see, and this is not a high priority task at all. It seems like cuco gets updated to take thrust::tuple (instead of requiring thrust::pair), and now I just need to use zip_iterator instead of combining zip_iterator & transform_iterator.

https://github.com/rapidsai/cugraph/pull/1640/files#diff-d7a948ed123361640cbf30b0b3be8ea6c3dae94c026e538c62d68626cca90383L205-R205

[2021-06-02 20:15] jrhemstad commented on #84
Yeah, in https://github.com/NVIDIA/cuCollections/pull/79 I updated the `pair` internals to work with any "pair-like" thing. That includes `thrust::tuple` or a zip iterator.

[2021-06-15 14:17] jrhemstad opened #88 "[BUG] Back-to-back CAS algorithm is incompatible with Pascal"
We use a "back-to-back" CAS algorithm for inserting a key/value pair into the `static_map`. This technique relies on the Volta thread model of independent thread forward progress and is therefore incompatible with Pascal.

We should specialize the implementation for 4B/4B key/values (or less) to use a single CAS for the key/value pair.

We also need to add the appropriate error checking to prevent

[2021-06-29 21:22] jrhemstad commented on #69
I'm not sure if we actually want to do this anymore. Having control over the slot storage type has been very handy.

[2021-06-30 15:44] #88 closed, assigned to nobody

[2021-07-06 14:18] PointKernel opened #93 "[FEA] Reduce building time"
**Is your feature request related to a problem? Please describe.**
After introducing `rapids.cmake` into the project, building cuco becomes unreasonably expensive for such a small project. More precisely, it takes 11 mins to build the code with 6 concurrent threads. Linking `STATIC_MAP_TEST` and `DYNAMIC_MAP_TEST` are the major time killers.

**Describe the solution you'd like**
Get rid of the dyn

[2021-07-06 14:43] jrhemstad commented on #93
I'm guessing the problem is that it is building for all architectures now. @robertmaynard @trxcllnt what's the flag to specify a single architecture with rapids-cmake?

[2021-07-06 14:56] robertmaynard commented on #93
`-DCMAKE_CUDA_ARCHITECTURES=NATIVE` to compile only for the GPU architectures on your machine. If you want to build for a custom architecture not on your machine you do something like `-DCMAKE_CUDA_ARCHITECTURES=75`

[2021-07-16 19:13] wphicks opened #95 "[BUG] `reinterpret_cast` used in constexpr function `cuda_memcmp`"
**Describe the bug**
In `cuda_memcmp`, which is declared `constexpr`, two  `reinterpret_cast` calls appear, as shown [here](https://github.com/NVIDIA/cuCollections/blob/dev/include/cuco/detail/bitwise_compare.cuh#L24). The C++ standard does not allow this (see item 17 [here](https://en.cppreference.com/w/cpp/language/constant_expression)), and when `clang` is used as the host compiler, it (correct

[2021-07-19 14:11] #95 closed, assigned to nobody

[2021-08-06 13:05] devavret opened #99 "[BUG] Key existence check with sentinel causes illegal memory access"
The problem is in this line:
https://github.com/NVIDIA/cuCollections/blob/518b02e4df886193943484f250326b599acabdb9/include/cuco/detail/static_map.inl#L219

It checks whether the existing key value in the slot is equal to the one being inserted. This means that for uninitialized slots, the comparison happens between `insert_pair.first` and `empty_key_sentinel_` (assuming the slots were initialized

[2021-08-10 00:22] sleeepyjack opened #102 "[FEA] On-demand size computation to solve #65 and #39"
In order to support fully asynchronous bulk operations, e.g., for multi-GPU hash tables, as requested in #65, we need to rethink the way we compute the table's `size`.

For now, `insert` tracks the number of successful insertions on-the-fly. After the kernel has finished, we copy the number back to the host and add it to the `size_` member. This implies that `insert` synchronizes with the host.

I

[2021-08-10 14:56] #99 closed, assigned to nobody

[2021-08-10 16:45] jrhemstad commented on #102
Can you benchmark doing a `insert()` followed by `size()` with both approaches?

[2021-08-10 19:56] jrhemstad opened #103 "[FEA] Add option to select between Struct of Arrays vs Array of Structs"
**Is your feature request related to a problem? Please describe.**

All of the current hash map implementations use an Array of Structs storage implementation.

There are instances where it could be nice to have a Struct of Arrays layout.

**Describe the solution you'd like**

Provide some way to configure the storage layout. Probably via some template parameter.

We'd want to avoid as much duplic

[2021-08-10 20:07] sleeepyjack commented on #103
Something like this: https://github.com/sleeepyjack/warpcore/blob/ba5a6a84a8797464e2ce8dd03b269907ee70e7c2/include/warpcore/storage.cuh#L150

[2021-08-11 19:31] sleeepyjack commented on #102
Benchmark setup:

- Tesla V100 SXM2
- Insert 10^8 distinct 4+4 byte key/value pairs
- Baseline is the old `insert()`, i.e., with implicit size computation
- Comparison against new `insert()`, i.e., without size computation as well as `insert()`+`size()` to emulate the behaviour of the baseline version.
- Graph below shows speedup/speedown over varying target load factors

![size](https://user-imag

[2021-08-11 19:57] sleeepyjack commented on #102
Same but for 8+8 byte key/value pairs:

![size_64](https://user-images.githubusercontent.com/2955913/129094758-04292bf1-7892-437a-b97f-01786617fa48.png)

[2021-08-11 20:09] sleeepyjack commented on #102
I'm not quite sure why the performance of the standalone `size()` is slightly worse compared to 4+4 byte pairs.

Maybe my approach of converting a slot into a `thrust::tuple` to be fed into the `thrust::count_if` predicate is not neccessary:
https://github.com/sleeepyjack/cuCollections/blob/902b93a64c3c07fbc0108bdba56b2bbc6e1f9b55/include/cuco/detail/static_reduction_map.inl#L188

We could also us

[2021-09-17 14:45] jrhemstad commented on #28
Resolved by https://github.com/NVIDIA/cuCollections/pull/79

[2021-09-17 14:45] #28 closed

[2021-09-23 16:58] PointKernel opened #106 "[BUG] `cuco::static_map::insert` hangs with 12B custom key type"
**Describe the bug**
`cuco::static_map::insert` with 12B custom key type can compile but will hang during execution.

**Steps/Code to reproduce bug**
https://godbolt.org/z/Td8Pjhq31

**Expected behavior**
Should execute.

- [x] Fix the bug
- [x] Add tests for larger than 8B key types

[2021-09-27 21:14] PointKernel commented on #93
[code]

`Thrust-1.12` logical functions do support device lambdas thus I replaced the above code with `using thrust::all_of;` in https://github.com/NVIDIA/cuCollections/pull/107. By doing so, building `STATIC_MAP_TEST` now takes about 8.5 mins on my local machine, and it was only 4 mins before.

Is it a known issue that compiling `thrust::all_of` is expensive?

[2021-09-29 02:39] alliepiper commented on #93
Looking at the implementations:

- `thrust::count_if` is implemented as a simple reduction using the predicate in a transform iterator.
- `thrust::all_of` is implemented using `find_if`, which actually calls `thrust::reduce` repeatedly in an attempt to stop the search when the first match is found. There's a fair bit of extra tuple code in `find` to return the matching iterator that `count_if` doe

[2021-09-29 02:40] jrhemstad commented on #93
This is just test code, so perf doesn't really matter all that much.

Yeah, I looked into this extensively a while back: https://github.com/NVIDIA/cccl/issues/720

[2021-10-04 15:43] jrhemstad opened #110 "[FEA] Refactor of open address data structures"
**Is your feature request related to a problem? Please describe.**

There is a significant amount of redundancy among the `static_map/static_multimap/static_reduction_map` classes. This is a large maintenance overhead and means optimizations made to one data structure do not translate to the others.

Furthermore, there are several configuration options we'd like to enable, like using AoS vs SOA, s

[2021-10-20 00:01] jrhemstad opened #111 "[FEA] Add an overload for `insert` that returns the inserted (or existing) value"
**Is your feature request related to a problem? Please describe.**

Given a set of keys and values, either insert the key/value if doesn't exist, otherwise, return the existing value.

[2021-11-01 16:43] #59 closed, assigned to nobody

[2021-11-09 18:37] PointKernel opened #116 "[FEA] `static_map::insert_if`"
**Is your feature request related to a problem? Please describe.**
Given a set of key/value pairs, insert `pair[i]` if predicate of `stencil[i]` returns true. The API should be similar to `static_mulimap::insert_if`:
[code]

**Additional context**
Required by cudf semi/anti join refactoring

[2021-11-09 18:43] vyasr commented on #116
@PointKernel can you assign me? I've already started looking into this.

[2021-11-12 16:31] jrhemstad commented on #111
On further consideration, I don't think this needs to be a separate function, but can just be another overload of `insert` that takes an output iterator:

[code]

`*(output_first+i)` would equal `(first+i)->second` if `(first+i)->first` was not present in the map, otherwise, it will equal the value that was already present in the map associated with that key.

We should probably require that `iter

[2021-11-12 16:38] jrhemstad commented on #110
Something that came up with @PointKernel in the review of the `static_multimap` that we ultimately decided to wait on was enabling user configuration of using "scalar" vs "vector" loading. I think this should be exposed via the `ProbingScheme` type and adding an `items_per_thread` non-type template parameter that controls how many slots are loaded per-thread.

I also want to be able to disable usi

[2021-11-17 20:10] vyasr opened #121 "Add style check to CI"
We should add a CI step that verifies that clang-format has been applied to any submitted patches.

[2021-11-19 20:18] #116 closed, assigned to vyasr

[2021-12-03 23:08] #106 closed, assigned to nobody

[2021-12-04 00:18] PointKernel commented on #47
`thrust::for_each` is synchronous thus manually invoking `cudaDeviceSynchronize()` is not necessary.

No longer relevant.

[2021-12-04 00:19] #47 closed, assigned to nobody

[2021-12-04 00:21] PointKernel commented on #46
No longer relevant.

[2021-12-04 00:21] #46 closed, assigned to nobody

[2021-12-06 18:18] PointKernel commented on #110
Another improvement we should try: using one CG to insert/retrieve multiple keys instead of a single key to amortize CG overhead.

[2021-12-07 15:57] akifcorduk opened #123 "[BUG] Static map example doesn't compile"
In the static map example, the constructor of `cuco::static_map` have `cudaStream_t` as last argument, but this doesn't compile, The constructor should be called without `cudaStream_t`.

[2021-12-07 17:19] jrhemstad opened #124 "[FEA] Build examples/benchmarks in CI"
**Is your feature request related to a problem? Please describe.**

We should build examples in CI to make sure things like this https://github.com/NVIDIA/cuCollections/issues/123 don't happen.

[2021-12-07 17:20] jrhemstad commented on #123
Thanks for the issue. We'll try and get this remedied ASAP as well as tackle https://github.com/NVIDIA/cuCollections/issues/124 to make sure it doesn't happen again!

[2021-12-07 17:52] PointKernel commented on #123
I've pulled the latest `dev` branch and it builds just fine. @akifcorduk Can you please provide more details about the error i.e. how to reproduce it?

[2021-12-07 19:36] akifcorduk commented on #123
The code in the `dev` branch seems to have the correct constructor. We are using `rapidsai/raft` and `cuco` comes as a dependency of it. https://github.com/rapidsai/raft/blob/branch-22.02/cpp/cmake/thirdparty/get_cuco.cmake here it is using a non-existent tag so I don't know which version it is cloning. It seems there is a problem with our build system. I think we can close this since it is probab

[2021-12-07 19:42] PointKernel commented on #123
Thanks for the info. `rapidsai/raft` fetches this [commit](https://github.com/NVIDIA/cuCollections/commit/f0eecb203590f1f4ac4a9f1700229f4434ac64dc). Updating the tag to the latest commit (`76a6ba1d08761f7e14f27c6794ca2d469301b54f`) will solve the issue IMO. Please let us know if works.

[2021-12-07 20:53] jrhemstad commented on #124
@PointKernel points out that we are already doing this!

[2021-12-07 20:53] #124 closed, assigned to nobody

[2021-12-08 10:36] akifcorduk commented on #123
Thanks! That's solved the problem.

[2021-12-08 10:36] #123 closed, assigned to nobody

[2021-12-16 15:11] MatthiasKohl opened #128 "[FEA] Make cuco compilable using clang"
**Is your feature request related to a problem? Please describe.**
Any project dependent on cuco cannot be compiled using clang if the headers in cuco cannot be compiled using clang.

**Describe the solution you'd like**
It would be great if cuco has a check in place verifying that commits can be compiled using clang.
I'm currently setting something like this up for RAFT (see https://github.com/ra

[2021-12-16 20:37] PointKernel commented on #128
@MatthiasKohl Can you please specify how you build cuco with clang? Any particular version of clang you want to test with?

[2021-12-16 21:34] MatthiasKohl commented on #128
@PointKernel Basically, I'd like to be able to build RAFT (rapids primitives) with clang, including the device code. This is to support tools like clang-tidy in RAFT, as well as getting better diagnostics in dependent projects.
I can imagine other projects dependent on cuCollections may have similar requirements, either right now or in the future.

For RAPIDS, it would be great to support clang 11

[2021-12-20 20:10] chirayuG-nvidia commented on #65
Stream support for static_map added in commit https://github.com/NVIDIA/cuCollections/commit/76a6ba1d08761f7e14f27c6794ca2d469301b54f

[2022-01-20 21:22] #121 closed, assigned to nobody

[2022-01-24 21:57] #93 closed, assigned to nobody

[2022-01-26 02:27] chirayuG-nvidia opened #137 "[FEA] Support concurrent insert/find for static_map when size of K-V pair is greater than 8 bytes"
An optimized implementation of string renumbering in cuGraph requires building histogram with metadata along with frequency as the payload. The metadata is required for optimal performance of subsequent operations in the renumbering implementation. CUDA kernel concurrently finds/inserts the data in HT.

Since CuCollection currently doesn't support concurrent insert/find for more than 8 byte KV pai

[2022-03-01 18:55] PointKernel opened #140 "[BUG] Headers are not completely self-contained"
**Describe the bug**
While working on https://github.com/NVIDIA/cuCollections/pull/139, I noticed that some of the `cuco` headers are not self-contained i.e. being dependent upon other headers being included first.

**Steps/Code to reproduce bug**
Order the header groups from local to global will introduce compilation errors.

**Additional context**
To fix the issue, we should:
1. reorder the head

[2022-03-23 13:37] jrhemstad opened #143 "Create a `detail/__config` file for common configuration definitions"
Note to self: We should make a `detail/__config` file for this kind of thing.

_Originally posted by @jrhemstad in https://github.com/NVIDIA/cuCollections/pull/98#discussion_r833275984_

[2022-03-29 18:18] PointKernel opened #146 "Clean up `thrust` include groups"
Similar to https://github.com/rapidsai/rmm/pull/1011, we should clean up include groups to adopt thrust 1.16 by using the Python fixer written by @bdice. Note this should be done before `rapids-cmake` adopts thrust 1.16.

[2022-04-01 19:36] PointKernel commented on #69
@jrhemstad  Can you be more specific? We can control storage type with `cuda::pair` also and `cuda::pair` seems aligned by default.

[2022-04-05 18:40] devavret opened #148 "[FEA] Block level bulk APIs"
Currently the bulk APIs are host calls which operate on one map. We have a use case where we have multiple small maps defined on a slice of pre-allocated slot space. For this [we duplicate the insert kernel code from cuco and initializing one map per block](https://github.com/rapidsai/cudf/blob/48cebf7ac498439ebae3d5a50581a552f8fed88d/cpp/src/io/parquet/chunk_dict.cu#L30-L43).

It would be nice to

[2022-04-13 16:19] jrhemstad commented on #148
Love this idea. For initialization we do already have the equivalent of this functionality with `make_from_uninitialized_slots`: https://github.com/NVIDIA/cuCollections/blob/fb58a38701f1c24ecfe07d8f1f208bbe80930da5/include/cuco/static_map.cuh#L716-L727

[2022-05-04 16:00] PointKernel opened #152 "[FEA] Add kernel launch wrapper"
**Is your feature request related to a problem? Please describe.**
Currently, we are adding early exits in all bulk functions to avoid launching kernels with 0 threads. This is laborious and should be done in a more systematic way.

**Describe the solution you'd like**
As mentioned in https://github.com/NVIDIA/cuCollections/pull/151#pullrequestreview-962008675, a kernel launch wrapper is desired t

[2022-05-10 23:05] PointKernel opened #153 "[FEA] Migrate to `Catch2.v3`"
**Is your feature request related to a problem? Please describe.**
Building `cuco` is still longer than expected. One option is to migrate Catch2 from `v2` to `v3`.

**Describe the solution you'd like**
Detail instructions can be found at https://github.com/catchorg/Catch2/blob/devel/docs/migrate-v2-to-v3.md#top. Using `v3` version should help reduce compile time since it's compiled as a static li

[2022-05-11 18:53] PointKernel commented on #27
Closed via https://github.com/NVIDIA/cuCollections/pull/142

[2022-05-11 18:53] #27 closed

[2022-05-17 21:40] PointKernel opened #154 "Get rid of `get_` prefixes"
We should rename APIs like `static_map::get_size()` to `static_map::size()` to align with the common naming practice in libcudf. The `get_` prefix is unnecessary.

[2022-05-18 12:55] vighnesh-kadam commented on #154
Can you please assign me the issue ? I'm interested!

[2022-05-18 13:00] PointKernel commented on #154
@vighnesh-kadam Sure. Thanks for helping out!

[2022-05-18 16:57] vighnesh-kadam commented on #154
I tried searching for the  API  "static_map::get_size()"  and also searched similar using regex but could not find them . All i found were of the type "state.get_int64("NumInputs");"
Can you guide me how i should proceed with this?

[2022-05-18 17:07] PointKernel commented on #154
@vighnesh-kadam One way you can do it is to go to the `cuCollections/include/cuco` directory and look for `get_`.
Here is what I got via `grep -rn "get_"` :
[code]

Basically, we want to remove all `get_` prefixes listed above.

[2022-05-18 20:50] sleeepyjack commented on #152
That would be a simple `if(std::distance(input_begin, input_end) == 0) return;`?

[2022-05-18 20:59] sleeepyjack commented on #128
I can take care of this issue since I am also using clang tools in my dev pipeline. -> please assign me

[2022-05-18 21:59] PointKernel commented on #128
@sleeepyjack I started this adventure a while back but then got distracted.

IIRC, the main blocking point was build failures in dependencies like `thrust` and `nvbench`. There are issues in `cuco` as well but I think there is not much we can do before resolving the former.

[2022-05-18 22:28] sleeepyjack commented on #128
Okay, maybe I was a bit too eager then 😆 However, I can take care of tracking the associated issues in the external projects and pinging the people in charge. I really don't want to miss out on `clang-tidy` et al. while developing on `cucu`. Maybe we can have a meeting where you can share your findings with me?

[2022-05-19 12:50] PointKernel commented on #152
@sleeepyjack Yeah, an early exit like that in a variadic template.

[2022-05-19 12:52] PointKernel commented on #128
@sleeepyjack Will ping you once I recall what I've done.

[2022-05-19 15:20] jrhemstad opened #159 "[FEA] Add tests to verify headers are standalone"
**Is your feature request related to a problem? Please describe.**

After @PointKernel's excellent work in https://github.com/NVIDIA/cuCollections/pull/141 to ensure each cuco header is standalone, we should add some tests to ensure they stay that way.

**Describe the solution you'd like**

@allisonvacanti pointed out the fact that Thrust does this by simply including each header in an otherwise e

[2022-05-19 16:32] #140 closed, assigned to nobody

[2022-05-22 08:15] MatthiasKohl commented on #128
@sleeepyjack in case you're interested, we have a script in Raft which turns nvcc/g++ compiler commands into clang++ commands, based on a cmake compilation command database.
So if you're using cmake, you can use this to test all the compiler commands

[2022-05-25 21:53] PointKernel opened #162 "[FEA] Use `sentinel` namespace in all applicable map types"
**Is your feature request related to a problem? Please describe.**
`sentinel` namespace has been added in #142 , which provides a wrapper around sentinel values. Currently, this namespace is only applied in `cuco::static_map`.

**Describe the solution you'd like**
Use `sentinel` namespace consistently across all applicable map types.

[2022-05-26 04:08] m3g4d1v3r commented on #162
Hello PointKernel!
Is https://github.com/NVIDIA/cuCollections/pull/163 a good approach for this issue? Maybe I'm forgetting something...

[2022-05-26 15:12] jrhemstad opened #164 "[BUG] sentinel:: type ctors should be explicit"
**Describe the bug**

The[ `sentinel::`](https://github.com/NVIDIA/cuCollections/blob/4d36c90621d5a4165a7f61788a53b77db767f431/include/cuco/sentinel.cuh#L22-L38) types were added to make it explicit at the call site what the values mean. For example:
[code]

It is not obvious what `-1, -1` mean at the call site.

The `sentinel::` wrapper types are intended to be "strong" type wrappers that force c

[2022-05-26 17:33] #146 closed, assigned to nobody

[2022-05-27 01:29] #162 closed, assigned to nobody

[2022-05-28 20:36] #164 closed, assigned to nobody

[2022-06-03 18:21] ttnghia opened #172 "[FEA] Support `contains` with template key types"
Currently, the `contains` APIs of various maps (in particular, `static_map` and `static_multimap`) require that their input iterators must be dereferenced into the maps' key_type. As such, we cannot insert keys of one type and check the existence of keys from another (convertible) type.

We should support `contains` with template key types.

[2022-06-03 18:23] ttnghia opened #173 "[FEA] Support `pair_contains` in `static_map` and `static_multimap`"
In `static_multimap`, there are various `pair_*` APIs but not `pair_contains`. Sometimes we need it for checking the existence of key/value pairs given from input iterators.

It's great to have such API added to `static_multimap` as well as `static_map`.

[2022-06-13 21:45] #172 closed, assigned to nobody

[2022-06-15 14:00] ttnghia opened #176 "[FEA] Support `pair_contains_if` in `static_map` and `static_multimap`"
Once we have `pair_contains` (https://github.com/NVIDIA/cuCollections/issues/173), we also need to have `pair_contains_if` so we can avoid checking contains for the elements that we already knew the result for them. By doing so, we will not perform unnecessarily expensive computations.

[2022-06-20 16:46] karthikeyann opened #178 "[DOC] Automate publishing documentation with github workflow"
Automate the publishing of documentation to keep it upto date.

https://github.com/NVIDIA/cuCollections/pull/177#issuecomment-1160655675
main branch is not updated in long time (July 16, 2020)
dev branch is updated frequently. There are no releases or tags.
So decide when to publish the documentation and which branch.

**Describe the solution you'd like**
Similar to thrust, add a GitHub workflow t

[2022-06-21 14:43] thakkarV opened #179 "[QST] Valid to use differently sized CGs between two invocations of `static_map::insert()`"
One of the overloads for  [`static_map::insert`](https://github.com/NVIDIA/cuCollections/blob/dev/include/cuco/detail/static_map.inl#L428) accepts a cooperative group as a function template. Can a user specify differently sized CG for the same instance of a static map between two separate invocations of `insert`?

[2022-06-21 16:03] PointKernel commented on #179
The current `static_map` is exclusively using the linear probing scheme. i.e. for a given key, the same consecutive slots are checked regardless of the CG size or whether CG is used or not. So changing the CG size should work fine.

I assume those two invocations of `insert` are from different kernels. If you don't mind, why `insert` with different CG sizes is desired in your use case?

[2022-06-22 06:53] sleeepyjack commented on #179
I wasn't aware of that. In that case, probing with different CG sizes should always yield the correct probing sequence.

[2022-06-23 13:56] thakkarV commented on #179
Thanks a lot! I think that answers my question.

[2022-06-23 13:56] #179 closed, assigned to nobody

[2022-06-30 10:10] sleeepyjack opened #183 "[FEA] Migrate from `cuda::atomic` to `cuda::atomic_ref`"
I'm curious if there were any recent discussions on migrating the storage type from `cuco::pair_type<cuda::atomic<key_type>, cuda::atomic<mapped_type>>*` to `coco::pair_type<key_type, mapped_type>*`and then use libcu++'s new `cuda::atomic_ref<T>` for thread-safe table manipulation when needed. (also addressed in NVIDIA/libcudacxx#110)

Let's start this thread to collect everything related to this

[2022-07-01 13:42] PointKernel commented on #183
@jrhemstad is working on a base `set` class and using `atomic_ref` is part of this exploration IIRC. By all means, NVIDIA/libcudacxx#98 is already bulky enough thus a separate PR to focus on this issue will be highly appreciated.

[2022-07-12 00:05] jrhemstad opened #188 "Add tests that verify cuCo algorithms work with Thrust proxy_references"
Inspired by  https://github.com/NVIDIA/cuCollections/pull/175#discussion_r918088413_ we should add tests that ensure inputs from `thrust::device_vector::begin` work in all algorithms.

[2022-07-19 11:40] sleeepyjack opened #189 "[FEA] Support linking multiple versions of cuco in the same project"
CUB and Thrust both allow for custom namespaces via e.g. `CUB_NS_PREFIX` and `CUB_NS_POSTFIX`, such that multiple shared libraries can each utilize their own copy of it (and thus different versions can safely coexist). (see NVIDIA/thrust#1401 )

cuco should also implement this feature.

[2022-07-20 12:10] sleeepyjack opened #190 "[FEA] Semantic versioning"
How do we want to employ semantic versioning for this library?

Thrust for instance updates the release version by hand by setting new values in [thrust/version.h](https://github.com/NVIDIA/thrust/blob/main/thrust/version.h).

This is required if we opt for versioned inline namespaces to solve #189.

[2022-07-20 12:10] sleeepyjack commented on #189
@allisonvacanti suggested to utilize versioned [inline namespaces](https://www.foonathan.net/2018/11/inline-namespaces/#content) to solve this problem:
[code]

This option requires #190 to be implemented.

[2022-07-20 13:50] PointKernel commented on #190
cuCo doesn't have a release yet thus I'm not sure how to incorporate the versioned inline namespace in our case. e.g. how to name the version.

[2022-07-20 14:54] sleeepyjack commented on #190
Yeah, that's true. Maybe we could push a development tag `0.1.0` to `dev` and use that as an intermediate?

[2022-07-20 16:17] jrhemstad commented on #190
Inline namespaces won't solve https://github.com/NVIDIA/cuCollections/issues/189 in the short term because we aren't going to bump the version with every PR.

The best short term solution for https://github.com/NVIDIA/cuCollections/issues/189 is the custom namespace prefix.

[2022-07-20 19:22] sleeepyjack commented on #190
Ok, then we can put this issue in the backlog for now.

[2022-07-22 14:49] jrhemstad opened #193 "Use NV_IF_TARGET instead of CUDA_ARCH"
This reminds me that in order to be friendly to nvc++, we should probably be switching to use `NV_IF_TARGET`. That'll be a different issue though.

_Originally posted by @jrhemstad in https://github.com/NVIDIA/cuCollections/pull/192#discussion_r927727767_

[2022-07-23 02:12] ttnghia opened #194 "[FEA] Allow to customize cooperative group size (`tile_size`) for `static_map`"
Currently, `static_map` internally sets a fixed number `tile_size = 4`. Such `tile_size` value is used when calling the `insert` or `contains` APIs. The value `tile_size = 4` is not an optimal one, and may cause performance regression on some (if not most) systems as I have tested myself. For example, setting `tile_size = 2` would double the performance when running on my system.

It would be grea

[2022-07-23 11:28] sleeepyjack commented on #193
Is there any documentation on how to use `NV_IF_TARGET`? Can't seem to find it.

[2022-07-25 16:31] PointKernel commented on #173
Closing this since the functionality is no longer desired by using set `contains`.

[2022-07-25 16:31] #173 closed, assigned to nobody

[2022-07-25 16:32] PointKernel commented on #176
Closing this since the functionality is no longer desired by using set `contains_if`.

[2022-07-25 16:32] #176 closed, assigned to nobody

[2022-07-26 16:46] PointKernel opened #195 "[FEA] Add Windows support"
**Is your feature request related to a problem? Please describe.**
The current cuCollections doesn't support building on Windows and we should support this.

[2022-07-26 19:02] sleeepyjack commented on #194
Probably a candidate for #110. We could also explore having dynamic CG sizes, e.g., `CG=1` for when the table occupancy is low and then use a wider group once the table fills up.

[2022-07-26 19:03] sleeepyjack commented on #195
As @jrhemstad mentioned earlier, setting up a CI for this would not be fun.

[2022-07-26 19:19] sleeepyjack commented on #194
@ttnghia I'm curious, what architecture did you run your benchmarks on?

[2022-07-26 19:20] ttnghia commented on #194
I'm running on RTX Quadro 6000, SM75.

[2022-07-27 02:06] jrhemstad commented on #194
@sleeepyjack I'm guessing it's a difference of GDDR vs HBM. Larger tile_size is better on HBM vs GDDR.

[2022-07-27 02:22] sleeepyjack commented on #194
@jrhemstad I was thinking the same thing. A long time ago, I dreamed about having a compile time lookup table for choosing the optimal (default) CG size for a given architecture in WarpCore. Sounds wild, but hey, why not?

[2022-07-27 12:36] jrhemstad commented on #194
That wouldn't be too hard. It would be similar to how CUB does its device specific tuning policies.

[2022-07-28 15:13] #143 closed, assigned to nobody

[2022-08-02 18:49] sleeepyjack opened #198 "[BUG] Target architecture macros are broken"
**Describe the bug**
(Originally found by @PointKernel)
Related: #143 #192 #193

The `CUCO_HAS_INDEPENDENT_THREADS` macro does not work as expected.
Same goes for all other macros that rely on `__CUDA_ARCH__`.

**Steps/Code to reproduce bug**
Compiling with `-DCMAKE_CUDA_ARCHITECTURES=XX`, where `XX>=70` throws the following static assertion error:
[code]
which originates from `static_map/custom_t

[2022-08-02 20:38] PointKernel commented on #198
FYI, reverting #192 can solve the issue. i.e. large types are supported when compiled with `cmake ../ -DCMAKE_CUDA_ARCHITECTURES=75` on my local system.

[2022-08-03 12:44] sleeepyjack commented on #198
I came up with a battle plan to get this problem out of the way once and for all.

1. We need a host-defined macro that gives us the minimum target architecture specified in the compile command. My first idea was using `__CUDA_MINIMUM_ARCH__` for this but apparently this only works on nvc++. So as a fallback I'd like to resurrect the idea of defining this macro externally inside the top-level cmak

[2022-08-03 13:36] jrhemstad commented on #198
We don't want to disable the independent thread support for _all_ archs just because `sm_60` is included in the arch list.

It should only be disabled when actually trying to run on sm_60.

[2022-08-03 13:54] sleeepyjack commented on #198
Yeah, that would be the optimal solution. @PointKernel and I have racked our brains over this but haven't found a way to make this work yet.

The problem is that using the CUDA architecture in a conditional on the host is UB. However, this does not apply if the condition evaluates to the same value for all architectures, which would be the case if we use the minimum provided architecture.

[2022-08-03 13:55] sleeepyjack commented on #198
The second idea would be to move the check into device code and evaluate it at runtime.

Edit: not possible since libcu++ will throw an error at compile time. Meh, I'm going in circles here.

[2022-08-03 14:44] hahnjo opened #200 "[BUG] `static_map::device_mutable_view::insert` should return iterator to inserted / existing element"
**Describe the bug**
Commit https://github.com/NVIDIA/cuCollections/commit/0145753a5531aade683326981d98196aa8a56bac changed `insert` to only return a `bool`.

**Expected behavior**
The long form of the documentation still says:
https://github.com/NVIDIA/cuCollections/blob/e91e9dabc9d2855a70446de9b3f9ee6208220be5/include/cuco/static_map.cuh#L925-L927
This is required to implement insert-or-update a

[2022-08-03 14:53] PointKernel commented on #200
Related to #111.

Concurrent insert/find is allowed if `supports_concurrent_insert_find()` is true.

[2022-08-03 14:55] hahnjo commented on #200
I disagree: That issue is about the host bulk API, I'm interested in the device API.

[2022-08-03 15:37] PointKernel commented on #200
Right, the host bulk implementation invokes the corresponding device function internally. By all means, we will add an overload returning existing elements for both host and device `insert`

[2022-08-03 15:39] hahnjo commented on #200
I don't think you can overload based on the return type; this needs to change the interface to match the documentation...

[2022-08-03 15:56] PointKernel commented on #198
Temporarily unblocked by reverting #192

[2022-08-03 16:20] jrhemstad commented on #200
The documentation is out of date. It _used_ to return an iterator, but we discovered that could lead to race conditions in scenarios where the insertion does not happen fully atomically.

These conditions are a function of the data types and the architecture one is compiling for. We could conceivably detect that scenario and use `enable_if` to select between two overloads of `insert`, but that wou

[2022-08-03 18:06] sleeepyjack commented on #200
How about `fetch_insert` following the similar semantics of atomic operations?

[2022-08-04 06:40] hahnjo commented on #200
@jrhemstad

Hm, could you elaborate on that? I had a quick look at the implementation of `insert` and couldn't spot anything suspicious. Is it because, in the case the value is not packable, it uses two `compare_exchange_strong` with `memory_order_relaxed`? Depending on how weak the GPU memory model is, this *could* mean that the value is not visible (yet) to a plain load even if the written key i

[2022-08-04 12:51] jrhemstad commented on #200
This is it exactly. There are cases where the key/value are not updated in a single atomic transaction. The `memory_order` is orthogonal.

You can see here that depending on the key/value type and architecture, `insert` will use one of 3 different methods:
1. If the key/value type are "packable" then we can CAS the entire slot at once
2. If they are not packable, and we are on pre-Volta architectu

[2022-08-04 15:12] hahnjo commented on #200
Ah thanks, now I understand: During parallel `insert`, the call that actually inserts might not yet have written the value before the duplicate call(s) return. This *could* be solved by spin-waiting for the slot value to be different from the empty sentinel value. That might be naive, but locally seems to work for `cas_dependent_write`.

The only way I can see this happen is via `back_to_back_cas`

[2022-08-04 15:24] jrhemstad commented on #200
Yep, exactly.

The `back_to_back_cas` is a performance optimization over `cas_dependent_write`.

There are temporal locality benefits to speculatively issuing the CAS for both the key and value at the same time compared to waiting for the result of the key CAS before storing the value.

`fetch_insert` would only be safe when `packed_cas` is used.

[2022-08-04 15:27] hahnjo commented on #200
Even if we "enhance" the fallback path via `cas_dependent_write` to make sure that the entire `insert` operation is done? I'll try to prepare draft PR tomorrow so we can discuss based on code...

[2022-08-04 15:49] jrhemstad commented on #200
That wouldn't be safe.

Imagine `t0` and `t1` attempt concurrently insert the values `v0` and `v1` for the same key `k` via `cas_dependent_write`.

If `k` maps to slot `s`, then `t0` and `t1` concurrently CAS `s.first`.

Imagine `t0` wins and writes `v0` to `s.second`.

On `t1` the CAS fails and sees that another thread inserted the same key `k`. Therefore it immediately returns an iterator to to

[2022-08-05 11:01] hahnjo commented on #200
Yes, this is the case we need to handle. But I think that's doable (with some extra work) in the `fetch_insert` function. See https://github.com/NVIDIA/cuCollections/pull/202 for an implementation that at least passes the test that I had in mind.

[2022-08-05 18:56] jrhemstad commented on #110
Status of the latest ideas we have discussed:

- To make it convenient to construct a `static_set` or other data structures with a variety of configuration parameters, we want to use a variadic constructor pattern that is _similar_ to this example: https://godbolt.org/z/T4oP1nsoW
   - To make this more generic, instead of the `get_or_default<T>` function looking for a concrete type `T`, it could l

[2022-08-08 08:53] #198 closed, assigned to nobody

[2022-08-08 15:09] jrhemstad commented on #110
Some open questions that still need answers:

- Where is the CG size/window size defined?
   - Is it specified by the `Storage`? `ProbingScheme`?

- Different flavors of cooperative device-side overloads. E.g., `contains`:
    1. N threads & 1 key:  `N` threads in `group` call `contains` with the exact same `k`.  All `N` threads cooperate to find the single `k`. The same result value is returned t

[2022-08-09 07:14] sleeepyjack commented on #110
We could use different signatures for
1. `contains(CG g, key_type key, ..)`
2. `contains(CG g, KeyIter first, KeyIter last, ..)`

The latter could implement a WCWS overload for when the key/value types can be shuffled around among group ranks.
If the input range is wider than the group (notice this also implements the device bulk API idea we had), we would need to write the results to an output ra

[2022-08-09 22:01] jrhemstad commented on #110
I'm not sure this solves the problem. Would the semantics of this function be such that each thread in the group is providing a distinct `[first,last)` range? Or the same?

I think a `contains` function that takes an iterator range is orthogonal to the cooperative semantics of the function.

[2022-08-09 22:46] sleeepyjack commented on #110
I don't see the benefit of the former variant, as you can simply call the function in a loop. I was referring to the latter variant: A coop group is assigned to a range of keys, implementing a "mini" parallel bulk version of the operation. If the data types allow for warp shuffles, we can make use of WCWS, i.e., coalesced load from the input range then iteratively broadcast each loaded datum to al

[2022-08-09 23:07] sleeepyjack opened #205 "[FEA] New probing scheme concept"
## Part of #110 (Refactor of open address data structures)
Development branch: [NVIDIA/cuCollections/refactor](https://github.com/NVIDIA/cuCollections/tree/refactor)

### Synopsis
Given a key `k`, a *probing sequence* provides a sequence of `N` potentially non-contiguous locations (or values) `[i0, i1, i2, ... iN, EMPTY_SENTINEL]` where if `k` exists it is present in `[i0, iN]`.

### TODOs
- [x] I

[2022-08-09 23:08] sleeepyjack commented on #183
Reopening as this is part of NVIDIA/libcudacxx#110 and the associated milestone

[2022-08-09 23:32] sleeepyjack opened #206 "[FEA] New storage class concept"
## Part of #110 (Refactor of open address data structures)
Development branch: [NVIDIA/cuCollections/refactor](https://github.com/NVIDIA/cuCollections/tree/refactor)

### Synopsis
A conceptual list of `<key,payload>` elements that need not necessarily be contiguous in memory. For example, `vector< pair<key,value> >` or `vector<key>` and `vector<value>` (i.e., AoS vs SoA) could be valid implementat

[2022-08-09 23:39] sleeepyjack opened #207 "[FEA] Variadic ctor parameters"
## Part of #110 (Refactor of open address data structures)
Development branch: [NVIDIA/cuCollections/refactor](https://github.com/NVIDIA/cuCollections/tree/refactor)

### Synopsis
To make it convenient to construct a static_set or other data structures with a variety of configuration parameters, we want to use a variadic constructor pattern.

### TODOs
- [x] Implement prototype: ~~https://godbolt.

[2022-08-09 23:51] sleeepyjack opened #208 "[FEA] Move view classes to their own header"
## Part of #110 (Refactor of open address data structures)
Development branch: [NVIDIA/cuCollections/refactor](https://github.com/NVIDIA/cuCollections/tree/refactor)

### Synopsis
Device view classes are currently implemented as nested classes of their associated data structures. This results in

### TODOs
- [x] Regroup header files by data structure, e.g. `include/cuco/detail/static_map/{kernels.

[2022-08-10 00:14] sleeepyjack commented on #21
`duplicate` label removed as this issue is now a sub-task of #110 rather than a duplicate.
`topic: static_map` label removed as this issue applies to all data structures.

[2022-08-11 01:11] sleeepyjack opened #209 "[FEA] Implement `__device__ equal_range(…)`"
**Is your feature request related to a problem? Please describe.**
User-defined equality operators allow for defining equivalence relations over the key domain, where more than one compared key may map to `true`. This implies, that there may be multiple matching keys satisfying this equivalency for a given input key in a map. For `static_(reduction_}map`, retrieving all matching slots is not possi

[2022-08-11 01:57] jrhemstad commented on #209
What if we instead do something like a device-side `for_each(Key k, F f)`? That is, it applies `f` to every key equivalent to `k`?

Would there be any performance advantages to doing it that way instead of needing to build the iterator facade over the potentially non-contiguous equivalent keys?

[2022-08-11 13:07] sleeepyjack opened #210 "[FEA] Add various new table operations"
## Part of #110 (Refactor of open address data structures)
Development branch: [NVIDIA/cuCollections/refactor](https://github.com/NVIDIA/cuCollections/tree/refactor)

### TODOs
- [x] ~~Check if element is present in the data structure: `is_present` (alias for `contains`) + `is_absent`~~
- [x] Re-initialize the data structure: `clear` (already supported by some data structures under the alias `init

[2022-08-11 13:08] sleeepyjack commented on #209
Yeah, I agree. Implementing such a facade would not be fun.
A `for_each` is a versatile construct that not only solves this problem but has a broad range of applications. We should go with that.

Closing this issue then in favor of #210.

[2022-08-11 13:08] #209 closed, assigned to nobody

[2022-08-11 17:16] PointKernel commented on #205
Notes from previous discussions:

- Related blog: https://www.foonathan.net/2020/03/iterator-sentinel/

- iterator sentinel with custom range

[code]

- CG custom range
[code]

- @sleeepyjack's Initial idea of putting all the logic for checking the probing conditions in the iterator: https://godbolt.org/z/E6hKadTxe

[2022-08-11 21:38] PointKernel commented on #205
Distincting probing scheme and storage:
- Probing scheme provides int-type indices
- Storage provides a pointer to the storage
- Probing scheme should be a callable object

https://godbolt.org/z/n8rrxer47

[2022-08-11 22:20] jrhemstad commented on #110
I want APIs that don't require me to think about launching `input_size * CG_size` number of threads and wrangle the CG throughout the whole kernel.

I just want to launch `input_size` threads and then create an ad hoc CG to do a cooperative insert/find.

In other words, I want to keep the simple "one work item per thread" model of work assignment, but benefit from the cooperative execution by thre

[2022-08-12 03:07] jrhemstad commented on #205
I find it to be a really helpful exercise to write the `concept` for a type as a way to really force you to think about what it's bare minimum requirements are.

Here's what I came up with for a probing scheme: https://godbolt.org/z/Ka8ehn1j5

This is incomplete. We still need some way to reflect the window size / access.

[2022-08-12 15:13] jrhemstad opened #211 "[FEA] Add benchmarks for device-side APIs"
We currently only have benchmarks for the bulk APIs: https://github.com/NVIDIA/cuCollections/tree/dev/benchmarks

We should add benchmarks for the device-side APIs as well.

[2022-08-14 14:02] jrhemstad opened #213 "[FEA] Add tests that verify vector loads are generated when expected"
Generating vector load instructions is important for performance.

However, the compiler can be very fussy about _actually_ generating them.

For example, https://godbolt.org/z/sfdaj695P shows prototyping code where all versions of nvcc prior to 11.7 would generate a `ld.global.v4.u32` as expected, but in 11.7 it generates 4x `ld.global.u32`. What's worse is that it checks the condition after each

[2022-08-17 20:25] sleeepyjack opened #215 "Build doxygen docs and push to GH pages via CI"
We can either utilize our beloved gpuCI with a custom script or GH actions: https://github.com/marketplace/actions/doxygen-action + https://github.com/peaceiris/actions-gh-pages

__Originally posted by @sleeepyjack in https://github.com/NVIDIA/cuCollections/pull/214#issuecomment-1218424725__

[2022-08-22 22:16] jrhemstad opened #217 "[FEA] test"
Testing GHA automation.

[2022-08-22 23:26] #217 closed, assigned to nobody

[2022-08-22 23:26] jrhemstad opened #218 "[BUG] test again"
test GHA

[2022-08-22 23:28] jrhemstad opened #219 "[BUG] test"
test

[2022-08-23 00:24] jrhemstad opened #220 "[BUG] its me again"
test

[2022-08-23 00:31] jrhemstad opened #221 "[BUG]test"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Envi

[2022-08-23 00:33] jrhemstad opened #222 "[BUG]test"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Envi

[2022-08-23 00:52] #218 closed, assigned to nobody

[2022-08-23 00:52] #219 closed, assigned to nobody

[2022-08-23 00:52] #220 closed, assigned to nobody

[2022-08-23 00:52] #221 closed, assigned to nobody

[2022-08-23 00:52] #222 closed, assigned to nobody

[2022-08-23 00:52] jrhemstad opened #223 "[BUG] test"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Envi

[2022-08-23 01:03] #223 closed, assigned to nobody

[2022-08-23 16:41] jrhemstad opened #224 "[BUG] test again"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Envi

[2022-08-23 16:43] #224 closed, assigned to nobody

[2022-08-24 17:16] #200 closed, assigned to nobody

[2022-08-25 20:57] sleeepyjack commented on #207
Initial prototype: https://godbolt.org/z/Kj763Teon

This approach still needs some refinement but enables us to use fully variadic ctors if we opt for strong types for all parameters.
We could also use this in member functions to pass optional parameters,e.g., pass an optional CUDA stream to one of the bulk functions.

Build on gcc works but nvcc fails to understand the deduction guide. Investigat

[2022-08-26 00:03] sleeepyjack commented on #207
New version: tested on gcc, nvcc 11.0-11.7 and has better diagnostics: https://godbolt.org/z/5Ghac54E6

[2022-09-01 20:24] PointKernel commented on #206
https://godbolt.org/z/djG6cK7j1

[2022-09-02 15:31] PointKernel commented on #205
CG, range, and probing iterators: https://godbolt.org/z/a1hqvErfv :fire: :fire: :fire:

[2022-09-02 15:39] PointKernel commented on #210
One reduce instead of two ballots to potentially improve `contains`: https://godbolt.org/z/qv6Ghv8M3

Not necessarily improve the performance, worth testing though

[2022-09-07 16:09] jrhemstad opened #229 "[BUG]: test"
### Is this a duplicate?

- [X] I confirmed there appear to be no duplicate issues for this bug (https://github.com/NVIDIA/cuCollections/issues)

### Type of Bug

Silent Failure

### Describe the bug

Test

### How to Reproduce

1. test

### Expected behavior

test

### Reproduction link

test

### Operating System

test

### nvidia-smi output

test

### NVCC version

test

[2022-09-07 16:20] #229 closed, assigned to nobody

[2022-09-07 21:08] esoha-nvidia opened #231 "Typo in docs for dynamic map"
https://github.com/NVIDIA/cuCollections/blob/01aa7247a7c8a72e3c808162ca9ad52adb297d4f/include/cuco/dynamic_map.cuh#L61

The dynamic map code has a typo in it.  There's is an `l` missing in `sentinel`.

Even when this is fixed, the code will likely not work because the input type to the `dynamic_map` constructor ought to be a `sentinel` and not just an `int`, right?

This compiles for me:

[code]

[2022-09-08 00:02] PointKernel commented on #231
Thanks for reporting the issue. You are right, the doc is out of date.

I will make a PR to fix this.

[2022-09-08 13:17] dgabel opened #232 "[ENHANCEMENT]: Including cuco datastructures declarations for non-CUDA compilers."
### Is your feature request related to a problem? Please describe.

I would like to be able to have a declaration of the cuco datastructures available without having to compile the definition using CUDA so that they can be used in .hpp or .cpp files. At the moment, if you need a forward declaration you need to include all the default template arguments. The compiler doesn't allow redefinition of t

[2022-09-08 13:31] jrhemstad commented on #232
I think we should be able to make it such that you could just do
[code]
in a non-CUDA file and it would "just work" in that it wouldn't fail to compile so long as you don't try to do anything with the type.

With judicious use of [`__CUDACC__`](https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#nvcc-identification-macro), we should be able to make this work.

Similar to what @dgabel

[2022-09-08 13:33] jrhemstad commented on #232
As part of this we may want to move away from naming our headers with `.cuh` to make it more obvious that it is safe to include them in non-CUDA files.

[2022-09-08 13:38] jrhemstad commented on #232
Alternatively, @davidwendt did something for `cudf::string_view` that is more similar to what @dgabel originally described with splitting into a [`string_view.hpp`](https://github.com/rapidsai/cudf/blob/branch-22.10/cpp/include/cudf/strings/string_view.hpp) and [`string_view.cuh`](https://github.com/rapidsai/cudf/blob/branch-22.10/cpp/include/cudf/strings/string_view.cuh) headers.

For `cudf::stri

[2022-09-08 13:43] dgabel commented on #232
For me, just having the highest level data structure declarations would be sufficient.

It's not so much to have these available in cpp code, just to make sure the cpp code compiles if it relies on / interfaces with cuco CUDA code and data structures anywhere down the line.

[2022-09-08 13:45] PointKernel commented on #232
We need to also make sure the dependent headers of `data_structure.cuh/hpp` (the example shown below) can work with non-CUDA compilers, i.e. separating declarations with implementations and guarding all implementations with `__CUDACC__` macro.
[code]

[2022-09-08 14:04] PointKernel commented on #232
Based on the offline discussion, we need to check out how `thrust` handles this kind of issue.

[2022-09-09 12:43] jrhemstad commented on #232
Another option is we could merge my idea and @dgabel and use `#if defined(__CUDACC__)` to conditionally just forward declare the type:

[code]

[2022-09-09 15:30] #231 closed, assigned to nobody

[2022-09-30 02:40] hanzhi713 opened #236 "[ENHANCEMENT]: Cooperative group for insert_and_find"
### Is your feature request related to a problem? Please describe.

The [newly added device API](https://github.com/NVIDIA/cuCollections/pull/202) `insert_and_find` doesn't use cooperative group. Is it unsafe to use cooperative group for `insert_and_find` or is it just not yet implemented?

### Describe the solution you'd like

Implement a version of `insert_and_find` that uses cooperative group.

[2022-09-30 15:04] sleeepyjack commented on #236
Thanks for catching this!

This would be nice to have for the sake of API consistency.
I don't think this would spawn any unforeseen synchronization problems as long as the coop group is synchronized properly when returning the result.

Is this functionality critical for your application?

[2022-09-30 20:55] hanzhi713 commented on #236
I tested the current version of `insert_and_find` with the host bulk API implemented myself, and it works well for my application. The coop group version is definitely something nice to have, given the potential performance boost at higher loader factor.

[2022-10-01 03:41] jrhemstad commented on #236
I'm curious, what's your use case for `insert_and_find` in a bulk API? Are the iterators returned from `insert_and_find` in a bulk API useful?

[2022-10-03 14:15] esoha-nvidia opened #237 "Size computation slows bulk insert significantly"
The size computation requires a small memcpy from device to host and then a synchronization.  **Each one** is the cause of serious performance degradation.

https://github.com/NVIDIA/cuCollections/blob/8786234a38a4d1283c6dc2011e45d14801510725/include/cuco/detail/static_map.inl#L149-L151

The synchronization is bad because it means that other unrelated streams are unable to do work.

The memcpy is

[2022-10-03 15:32] PointKernel commented on #237
Related to asynchronous size computation #102

@esoha-nvidia Thanks for reporting this. We are aware of this issue and it will be addressed during our refactoring work #110.

[2022-10-03 22:15] hanzhi713 commented on #236
I'm sorry for the lack of clarification for the host side API.

What I'm doing is not returning the iterators to the host. Instead, I need to modify the value right after inserting the key into the map, and return the final list of values. More specifically, I need to allocate a unique incrementing index for each new key inserted or return its index if it already exists. I wrote this kernel, which

[2022-11-03 22:01] PointKernel opened #239 "[ENHANCEMENT]: CRTP/mixins to encode concurrent device-side operations"
### Is your feature request related to a problem? Please describe.

[code]
An individual mix-in type would need to query what other types are present in `Mixins...` and then statically dispatch to the appropriate implementation. E.g., `insert` for 8B/8B would use back2back CAS vs cas_dependent_write vs cast_dependent_write_spin depending on whether or not `find` or `insert_and_find` are present in

[2022-11-07 20:04] PramodShenoy opened #241 "[BUG]: static_multimap<> insert() not working as expected"
### Is this a duplicate?

- [X] I confirmed there appear to be no duplicate issues for this bug (https://github.com/NVIDIA/cuCollections/issues)

### Type of Bug

Runtime Error

### Describe the bug

I have a kernel that tries to insert unique keys and values into the map. On querying the size of the map in the host using `get_size()`, I observe it is always equal to block size/size of cooperative

[2022-11-07 20:39] PointKernel commented on #241
@PramodShenoy Thanks for reporting this.

~~`get_size` will not work properly if device-view `insert` is directly invoked by users. Currently, it's the user's responsibility to update `size` counter if they use device-view `insert`.~~
Sorry, you are talking about multimap. Let me look into this and will respond to you shortly.

[2022-11-07 23:08] PointKernel commented on #241
@PramodShenoy To insert `n` keys with the CG algorithm, we need `n * CGSize` threads. The implementation is designed in a way that if CG size = 8, 8 threads from thread 0 to thread 7 will return at the same time if any of the threads in this group successfully finishes an insertion. The same for `{thread 8, ... thread 15}`, `{thread 16, ... thread 23}`, etc. The simple way to remember this is 8 th

[2022-11-07 23:21] bwyogatama commented on #241
Thanks @PointKernel for the explanation! This makes sense now. In our case, if we want each thread block to insert 128 keys, we would need `128 * CGSize` threads per thread block. So for this case, when should we use 128 thread block size with CGSize = 1 and when should we use 1024 thread block size with CGSize = 8? Is there any workload pattern that you have observed before?

[2022-11-07 23:29] PointKernel commented on #241
The optimal CG size really depends on your use case. The general guideline is to use large CG (size equals `4` or `8`) if occupancy (> 50%) or multiplicity is high and small ones otherwise. `CG size = 1` can be beneficial if the occupancy is really low (< 10%).

Yours to discover.

[2022-11-07 23:32] bwyogatama commented on #241
Can you explain what is occupancy and multiplicity here?

[2022-11-07 23:37] PramodShenoy commented on #241
Thanks @PointKernel !
Can you please confirm if this line is logically correct if we need to override the Cooperative Group size -
[code]

[2022-11-07 23:39] PointKernel commented on #241
Oh, if the hash map capacity is 100 and you insert 60 keys, the occupancy is 60%. If the 60 keys are a sequence from 0 to 59 (all unique), the multiplicity is 1. But if they are all of the same value, the multiplicity will be 60.

[2022-11-07 23:43] PointKernel commented on #241
This should work just fine. Note we need to use the same CG size consistently for all operations of a hash map. Using `cgsize=2` for insert and `cgsize=4` for retrieve will definitely crash at runtime.

[2022-11-07 23:44] PramodShenoy commented on #241
Understood.
Thanks a lot!

[2022-11-10 00:13] PointKernel opened #242 "[ENHANCEMENT]: `static_map::find` should be `const`"
### Is your feature request related to a problem? Please describe.

`static_map::find` should be const since it doesn't modify the map.

### Describe the solution you'd like

Make `static_map::find` and related functions const.

[2022-11-15 12:09] sleeepyjack opened #245 "CUCO_CUDA_MINIMUM_ARCH not correctly expanded when building with CUDA 11.4.0-11.4.4."
There seems too be an issue when building with CUDA 11.4.0-11.4.4.
Here is a reproducer: https://godbolt.org/z/YsbTM8GPd

_Originally posted by @sleeepyjack in https://github.com/NVIDIA/cuCollections/discussions/244#discussioncomment-4145867_

[2022-11-15 12:40] sleeepyjack commented on #245
I also noticed, that since we switched to `NV_IF_TARGET`, we somehow lost support for CUDA <11.4.0 in godbolt: https://godbolt.org/z/Kj3zW56Eh
I this because the build is picking up the libcu++ version that is included in the CTK, which is too old?

[2022-11-15 15:31] PointKernel commented on #245
`<nv/target>` was introduced in [libcu++ 1.5.0](https://github.com/NVIDIA/libcudacxx/releases/tag/1.5.0) (CTK 11.4) so it doesn't work with earlier CTK versions. :disappointed:

The effort to support pre CUDA-11.5 seems unnecessary to me. We could update the [requirements](https://github.com/NVIDIA/cuCollections#requirements) to `nvcc 11.5.0`.

cc @jrhemstad

[2022-11-15 16:50] sleeepyjack commented on #245
The problem is not only the absence of `<nv/target>` (we only use it to conveniently retrieve the first arg of a macro list) but additionally said list of GPU architectures ([`__CUDA_ARCH_LIST__`](https://docs.nvidia.com/cuda/archive/11.5.0/cuda-compiler-driver-nvcc/index.html#virtual-architecture-macros)) is only available from CUDA 11.5 onwards.

So yes, I agree, it would be best to drop the sup

[2022-11-15 20:23] jrhemstad commented on #245
What do we use `__CUDA_ARCH_LIST__` for in cuco?

[2022-11-15 20:25] jrhemstad commented on #245
Also, there is no reason to tie CTK support version to libcu++ version.  You can get a newer version of libcu++ from GitHub than what is in your CTK. cuco's cmake config will even do it for you via CPM.

[2022-11-15 20:58] sleeepyjack commented on #245
since this list is sorted, we can use it to find the minimum arch by extracting the first element. We currently use this to determine if we are running on Volta+ architectures only.

https://github.com/NVIDIA/cuCollections/blob/2a194c9831324904120113bc18135e7933369ee8/include/cuco/detail/__config#L22

[2022-11-15 21:40] PointKernel commented on #245
Totally agreed.

Sorry, I wasn't clear. What I wanted to bring up is the fact that users may not know the relationship/dependency between CTK and libcu++. So to solve issues like https://github.com/NVIDIA/cuCollections/discussions/244, changing the compiler to nvcc-11.5+ is a much simpler solution compared to asking them to install a newer version of libcu++ on their own.

[2022-11-15 21:48] sleeepyjack commented on #245
But why does the missing `<nv/target>` problem show up on godbolt? Is it just including the headers instead of configuring the project using cmake, i.e. pulling in the dependencies?

[2022-11-15 21:51] PointKernel commented on #245
The `<nv/target>` header doesn't exist in [libcu++ 1.4.0](https://github.com/NVIDIA/libcudacxx/releases/tag/1.4.0) (or CTK 11.3) or earlier

[2022-11-15 21:58] sleeepyjack commented on #245
Yeah but if cuco is configured using cmake it will pull in whatever libcu++ version we have specified which should be newer than whatever the CTK provides. If however godbolt only includes the headers, then it will fall back to the CTKs libcu++ version.

[2022-11-15 22:15] jrhemstad commented on #245
Hm, yeah, that's actually a good point. We'd need to update how cuco is added to CE to get it to pull in the appropriate libcu++ dependency as well. Looking at the [docs ](https://github.com/compiler-explorer/compiler-explorer/blob/main/docs/AddingALibrary.md#adding-a-new-library-to-the-live-site) it looks like there's a way to define the library such that it will run the cmake build (which is wha

[2022-11-15 22:16] jrhemstad commented on #245
The simpler solution is that they should just use cmake which will fetch the appropriate new version of libcu++ for them.

[2022-11-16 03:30] sleeepyjack commented on #245
One major problem with the idea of dropping support for CTK <11.5 is that libcudf still supports 11.0. Dunno if we can convince them to update their requirements.

If you guys have ideas on how to determine the minimum CUDA arch without using `__CUDA_ARCH_LIST__` I'm very open to it but I think we had a lot of discussions in the associated PR already.

In fact, since the build is currently broken

[2022-11-16 16:27] jrhemstad commented on #245
It supports _running_ alongside a 11.0 cudart, but it requires compiling with nvcc 11.5.

Remind me why we need to do this?

[2022-11-16 17:14] sleeepyjack commented on #245
I see. In this case my point is invalid.

https://github.com/NVIDIA/cuCollections/blob/2a194c9831324904120113bc18135e7933369ee8/include/cuco/static_map.cuh#L156-L161
The above snippet is used to check if large types are supported.
`CUCO_HAS_INDEPENDENT_THREADS` is true iff there is no CUDA architecture <700 in the `__CUDA_ARCH_LIST__`:

https://github.com/NVIDIA/cuCollections/blob/dev/include/cuco

[2022-11-17 21:14] PramodShenoy commented on #241
Hello @PointKernel
Sorry to continue on this closed thread but I think it is related to the use case.
What is the expected behavior of multimap if `static_multimap::device_mutable_view::insert()` is called in a loop in the kernel as done for block wide functions?

My observation is that duplicate values are being inserted. Is there a defined behavior for this case?

[2022-11-17 21:19] PointKernel commented on #241
That's correct. All key-value pairs will be inserted in the multimap as long as it still has empty slots. If you expect only unique key-value pairs are present in the map, `cuco::static_map` is what you are looking for.

[2022-11-17 21:23] PramodShenoy commented on #241
However, the same key-value pair should not be inserted twice right?
I am seeing the same key-value pair is inserted twice and they are the only entries in the `cuco::multi_map<>`

[2022-11-17 21:26] jrhemstad commented on #241
If you call `device_mutable_view::insert` twice with the same key/value, then the key/value pair will appear twice in the multimap.

This is the important difference between the `static_map` and `static_multimap`.

[2022-11-17 21:32] PointKernel commented on #241
https://godbolt.org/z/esqYPK98T

Take `std::unordered_multimap` for example, multimap in general doesn't guarantee "uniqueness".

[2022-11-17 21:50] PramodShenoy commented on #241
Thank you @PointKernel  and @jrhemstad, I just realized that. I was under the impression `std::multimap<>` ensures Key-Value pair uniqueness.

Do you have any recommendations to tackle this problem -

We have some block wide functions where each thread in the block handles some distinct values. How can we ensure that ALL of these values are inserted into the map?
For example, if we have a block of

[2022-11-17 21:53] jrhemstad commented on #241
Are all 512 keys unique or not?

[2022-11-17 22:37] PramodShenoy commented on #241
The keys may not be unique, but the Key-Value pair that we insert would be unique always. We would not want the same Key-Value pair being inserted multiple times either as that would affect a lot of other stuff.

[2022-11-17 22:40] jrhemstad commented on #241
It sounds like you want to treat the entire key/value pair as if it were the key. In other words, it sounds like you want a `set` instead of a `map`.

[2022-11-17 23:01] PramodShenoy commented on #241
In an ideal scenario, we would want to store a key and a list of values associated with it. If we use a set, then would have to store the Key-Value pair as a single entity right?

[2022-11-18 00:39] jrhemstad commented on #241
Hm, I'm confused.

If you want to store multiple values associated with the same key, then you'd want a multi map. But you also to want to avoid inserting identical key/value pairs (but not identical keys)?

So if you were to insert the following pairs:
[code]

What would you want the contents of the map to be?

[2022-11-18 00:56] bwyogatama commented on #241
Hi Jake,

This is Bobbi.
Basically, we want to implement hash join and try to use cuCollection to implement the hashing part. What we have is a pair of join key and row ID of the table. Join key does not guaranteed to be unique. Row ID is guaranteed to be unique. So for example if we have:

`{Join Key, Row ID}\
{13, 42}\
{13, 1}\
{9, 18}\
{13, 3}`

We would want the contents of the hash table to b

[2022-11-18 02:25] sleeepyjack commented on #245
Oh, I totally forgot to mention that we could remove this weird `__CUDA_ARCH_LIST__` workaround entirely and switch to `__CUDA_MININUM_ARCH__` once NVIDIA/libcudacxx#296 is resolved.

[2022-11-18 04:39] PramodShenoy commented on #241
In this case, we would want only one entry of {13,42} otherwise they would mess up other operations.
Also, in the case of Bobbi's example, I think we would be fine if we can insert repeating keys separately like this:
[code]

[2022-11-18 14:04] sleeepyjack commented on #241
That would indeed require a multimap.
A simple hash join (unpartitioned inner equi-join) A⋈B with cuco works as follows:
- 1. Build a `cuco::static_multimap` using table A: `map.insert(A.begin(), A.end())`
- 2. Use the keys of table B and retrieve all of their matching values from A: `map.retrieve(B.keys.begin(), B.keys.end(), result)`

[2022-11-18 14:53] PointKernel commented on #241
Since cuco doesn't support set yet, you can use a `cuco::static_map` and take a pair of join key and row id as hash map keys and discard the value part. Custom key equal is required then.

[2022-11-18 16:31] PramodShenoy commented on #241
Thanks a lot for the suggestions!

Our system basically uses CUB like block wide functions with 128 threads and each thread handling 4 items. This is used for functions like loading a partition of data, applying predicates, etc. In terms of Cooperative groups of size 8, we could have 16 groups meaning 16 insertions into our hash table.
Do you think there's a way we could do 512 insertions into the

[2022-11-18 22:41] jrhemstad commented on #241
Ah, okay. Now this makes more sense. So this is very similar to how cuDF's hash join works.

We build a hash table where the key is the hash of the row, and the value is the row index. We insert every `{row_hash, row_index}` pair. There's no need to worry about duplicates because like you said, every row_index is guaranteed to be unique.

Later, in the probing step, we use a special function [`sta

[2022-11-22 01:35] bwyogatama commented on #241
Hi @jrhemstad @PointKernel ,

So it seems that it's possible to achieve this with cuCollection. I have a few questions as I try to understand the design.

1. So in multimap, it seems that we have (by default) 8 threads in a group to hash the same key into the hash table. And once one of this 8 threads manage to insert, the other 7 threads will return. Yunsong mentioned that this will improve the p

[2022-11-22 02:54] jrhemstad commented on #241
1. Check out @sleeepyjack 's paper on cooperative insertion/probing: https://arxiv.org/pdf/2009.07914.pdf
2. `row_hash` is the hash value of the row. The strategy I described is necessary to support a join criteria on multiple columns. If you're joining on multiple columns, then you can't fit the entire row as the key of the hash table. If you're just joining on a single column of ints, then you c

[2022-11-25 00:25] PramodShenoy commented on #241
Hi @PointKernel  @jrhemstad

I was trying to use the `device_view<>` version of `retrieve()` and needed some help. Is there an example usage of the API that I can refer to? It seems we need to use 2 Cooperative groups - one for probe and another for flushing to the output buffer, is this the right understanding?
Some more questions from the declaration in the header file -

- What is the flushing_

[2022-11-25 17:53] PointKernel commented on #241
You could refer to `retrieve` [kernel](https://github.com/NVIDIA/cuCollections/blob/331421697188a54f23a8cfdfdf5557fc5389bc78/include/cuco/detail/static_multimap/kernels.cuh#L356-L427) for the use of `device_view::retrieve`. The `retrieve` kernel is invoked [here](https://github.com/NVIDIA/cuCollections/blob/331421697188a54f23a8cfdfdf5557fc5389bc78/include/cuco/detail/static_multimap/static_multima

[2022-11-29 22:49] PramodShenoy commented on #241
Hi @PointKernel

I am able to call the retrieve kernel externally using the appropriate parameters similar to the retrieve() function that you pointed to. However, I want to call it from within a device a function which I believe is the `device_view::retrieve()` function. It seems the appropriate device function is [here ](https://github.com/NVIDIA/cuCollections/blob/2a194c9831324904120113bc18135e

[2022-11-30 00:05] PointKernel commented on #241
Maybe unrelated: functionalities in the `detail` namespace are designed to hide from public access. So anytime you start using it in your code e.g. `thrust::detail::normal_iterator ...`, something may go wrong.

Can you reproduce the error in godbolt (https://godbolt.org/z/7Ybhjsqxq) and reshare the link here?

[2022-11-30 01:11] PramodShenoy commented on #241
I have reproduced the error in godbolt [here](https://godbolt.org/z/9f5fq1x5x) without using the thrust::detail iterators.

[2022-11-30 02:58] PointKernel commented on #241
line 59: output buffer of `view::value_type` as opposed to `int`.

[2022-11-30 05:14] PramodShenoy commented on #241
I made some changes and it compiles correctly now. However, I still don't understand why the shared memory type should be `cuco::pair<int,int>` instead of int only. Isn't the `view::value_type` actually `int`?

Also, does a device function that intends to use `device_view::retrieve() ` need to do something similar to the [retrieve kernel](https://github.com/NVIDIA/cuCollections/blob/331421697188a5